Pandas parte I

In [2]:
#Importando
import pandas as pd

In [35]:
#read_csv
pd.read_csv('Exemplo_1.csv')
# pd.read_csv('Exemplo_1.csv', sep=' ')
# aux=pd.read_csv('Exemplo_1.csv', sep=' ', decimal=',')
# aux['Preço($)']

                               Pés² Quartos Banheiros Vizinhança AnoConstrução Preço($)
2126 4 1 Rural 1969 215355                                           28361820139
2459 3 2 Rural 1980 195014                                           22162584803
1860 2 1 Subúrbio 1970 306891                                          120763329
2294 2 1 Urbano 1996 206786                                          78715332696
2130 5 2 Subúrbio 2001 272436                                          239065061
...                                                                          ...
2795 2 1 Rural 1977 305658                                           56385268376
2845 4 2 Urbano 1996 318297                                          25657762005
2500 4 3 Rural 1984 230749                                           27633657062
1702 5 3 Urbano 1970 201925                                          84088885222
1401 4 3 Subúrbio 1982 149576                                        68114338422

[100 rows x 1 columns]

In [12]:
pd.read_csv('Exemplo_2.csv')

pd.read_csv('Exemplo_2.csv', sep='\t')

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução       Preço($)
0   2126        4          1      Rural           1969  215355.283618
1   2459        3          2      Rural           1980  195014.221626
2   1860        2          1   Subúrbio           1970  306891.012076
3   2294        2          1     Urbano           1996  206786.787153
4   2130        5          2   Subúrbio           2001  272436.239065
..   ...      ...        ...        ...            ...            ...
95  2795        2          1      Rural           1977  305658.563853
96  2845        4          2     Urbano           1996  318297.256578
97  2500        4          3      Rural           1984  230749.276337
98  1702        5          3     Urbano           1970  201925.840889
99  1401        4          3   Subúrbio           1982  149576.681143

[100 rows x 6 columns]

In [15]:
pd.read_csv('C:\\Users\\Gabriel\\Documents\\Escola\\Aulas\\Git_aulas\\Coder\\Exemplo_3.csv')

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução       Preço($)
0   2126        4          1      Rural           1969  215355.283618
1   2459        3          2      Rural           1980  195014.221626
2   1860        2          1   Subúrbio           1970  306891.012076
3   2294        2          1     Urbano           1996  206786.787153
4   2130        5          2   Subúrbio           2001  272436.239065
..   ...      ...        ...        ...            ...            ...
95  2795        2          1      Rural           1977  305658.563853
96  2845        4          2     Urbano           1996  318297.256578
97  2500        4          3      Rural           1984  230749.276337
98  1702        5          3     Urbano           1970  201925.840889
99  1401        4          3   Subúrbio           1982  149576.681143

[100 rows x 6 columns]

In [18]:
pd.read_csv('Exemplo_4.csv')
pd.read_csv('Exemplo_4.csv',sep=';')

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução       Preço($)
0   2126        4          1      Rural           1969  215355.283618
1   2459        3          2      Rural           1980  195014.221626
2   1860        2          1   Subúrbio           1970  306891.012076
3   2294        2          1     Urbano           1996  206786.787153
4   2130        5          2   Subúrbio           2001  272436.239065
..   ...      ...        ...        ...            ...            ...
95  2795        2          1      Rural           1977  305658.563853
96  2845        4          2     Urbano           1996  318297.256578
97  2500        4          3      Rural           1984  230749.276337
98  1702        5          3     Urbano           1970  201925.840889
99  1401        4          3   Subúrbio           1982  149576.681143

[100 rows x 6 columns]

In [21]:
pd.read_csv('Exemplo_5.csv', header=None, names=['Pés²', 'Quartos', 'Banheiros', 'Vizinhança', 'AnoConstrução', 'Preço($)'])

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução       Preço($)
0   2126        4          1      Rural           1969  215355.283618
1   2459        3          2      Rural           1980  195014.221626
2   1860        2          1   Subúrbio           1970  306891.012076
3   2294        2          1     Urbano           1996  206786.787153
4   2130        5          2   Subúrbio           2001  272436.239065
..   ...      ...        ...        ...            ...            ...
95  2795        2          1      Rural           1977  305658.563853
96  2845        4          2     Urbano           1996  318297.256578
97  2500        4          3      Rural           1984  230749.276337
98  1702        5          3     Urbano           1970  201925.840889
99  1401        4          3   Subúrbio           1982  149576.681143

[100 rows x 6 columns]

In [23]:
pd.read_csv('Exemplo_6.txt', sep='\t')

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução                Preço($)
0   2126        4          1      Rural           1969  21.535.528.361.820.100
1   2459        3          2      Rural           1980  19.501.422.162.584.800
2   1860        2          1   Subúrbio           1970   3.068.910.120.763.320
3   2294        2          1     Urbano           1996  20.678.678.715.332.600
4   2130        5          2   Subúrbio           2001     272.436.239.065.061
..   ...      ...        ...        ...            ...                     ...
95  2795        2          1      Rural           1977  30.565.856.385.268.300
96  2845        4          2     Urbano           1996  31.829.725.657.762.000
97  2500        4          3      Rural           1984  23.074.927.633.657.000
98  1702        5          3     Urbano           1970  20.192.584.088.885.200
99  1401        4          3   Subúrbio           1982  14.957.668.114.338.400

[100 rows x 6 columns]

In [ ]:
# pip install openpyxl

In [27]:
#read_excel
df=pd.ExcelFile('Exemplo_7.xlsx')
df.sheet_names

['Apresentação', 'dados_casas']

In [28]:
#read_excel
pd.read_excel('Exemplo_7.xlsx', sheet_name='dados_casas')

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução       Preço($)
0   2126        4          1      Rural           1969  215355.283618
1   2459        3          2      Rural           1980  195014.221626
2   1860        2          1   Subúrbio           1970  306891.012076
3   2294        2          1     Urbano           1996  206786.787153
4   2130        5          2   Subúrbio           2001  272436.239065
..   ...      ...        ...        ...            ...            ...
95  2795        2          1      Rural           1977  305658.563853
96  2845        4          2     Urbano           1996  318297.256578
97  2500        4          3      Rural           1984  230749.276337
98  1702        5          3     Urbano           1970  201925.840889
99  1401        4          3   Subúrbio           1982  149576.681143

[100 rows x 6 columns]

In [29]:
dados_casas=pd.read_excel('Exemplo_7.xlsx', sheet_name='dados_casas')
dados_casas

    Pés²  Quartos  Banheiros Vizinhança  AnoConstrução       Preço($)
0   2126        4          1      Rural           1969  215355.283618
1   2459        3          2      Rural           1980  195014.221626
2   1860        2          1   Subúrbio           1970  306891.012076
3   2294        2          1     Urbano           1996  206786.787153
4   2130        5          2   Subúrbio           2001  272436.239065
..   ...      ...        ...        ...            ...            ...
95  2795        2          1      Rural           1977  305658.563853
96  2845        4          2     Urbano           1996  318297.256578
97  2500        4          3      Rural           1984  230749.276337
98  1702        5          3     Urbano           1970  201925.840889
99  1401        4          3   Subúrbio           1982  149576.681143

[100 rows x 6 columns]

In [31]:
#to_csv
dados_casas.to_csv('C:\\Users\\Gabriel\\Documents\\Escola\\Aulas\\Git_aulas\\Exemplo_10.csv', sep=';', index=False)

In [32]:
#to_excel
dados_casas.to_excel('C:\\Users\\Gabriel\\Documents\\Escola\\Aulas\\Git_aulas\\Exemplo_10.xlsx', index=False)

In [36]:
# pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
   ---------------------------------------- 0.0/159.9 kB ? eta -:--:--
   -- ------------------------------------- 10.2/159.9 kB ? eta -:--:--
   --------- ----------------------------- 41.0/159.9 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 159.9/159.9 kB 1.6 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [37]:
#Excel_writer
writer = pd.ExcelWriter('C:\\Users\\Gabriel\\Documents\\Escola\\Aulas\\Git_aulas\\Exemplo_9.xlsx', engine='xlsxwriter')
dados_casas.to_excel(writer, sheet_name='dados_casas_enumerados')
dados_casas.to_excel(writer, sheet_name='dados_casa', index=False)
writer.close()

In [3]:
#leitura da base de dados
# pd.read_csv('Dataset - Venda de Carros .csv')
# pd.read_csv('Dataset - Venda de Carros .csv', encoding='latin1')
# pd.read_csv('Dataset - Venda de Carros .csv',  encoding='latin1', sep=';')
df=pd.read_csv('Dataset - Venda de Carros .csv',  encoding='latin1', sep=';', decimal=',')
df

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
0,ritz,2014,3.35,5.59,27000.0,Gasolina,Intermediária,Manual,0
1,sx4,2013,4.75,9.54,43000.0,Diesel,Intermediária,Manual,0
2,ciaz,2017,7.25,9.85,6900.0,Gasolina,Intermediária,Manual,0
3,wagon r,2011,2.85,4.15,5200.0,Gasolina,Intermediária,Manual,0
4,swift,2014,4.60,6.87,42450.0,Diesel,Intermediária,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988.0,Diesel,Intermediária,Manual,0
297,brio,2015,4.00,5.90,60000.0,Gasolina,Intermediária,Manual,0
298,city,2009,3.35,11.00,87934.0,Gasolina,Intermediária,Manual,0
299,city,2017,11.50,12.50,9000.0,Diesel,Intermediária,Manual,0
300,brio,2016,5.30,5.90,5464.0,Gasolina,Intermediária,Manual,0

In [45]:
df['indice']=range(1,len(df)+1)
df

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos,indice
0,ritz,2014,3.35,5.59,27000.0,Gasolina,Intermediária,Manual,0,1
1,sx4,2013,4.75,9.54,43000.0,Diesel,Intermediária,Manual,0,2
2,ciaz,2017,7.25,9.85,6900.0,Gasolina,Intermediária,Manual,0,3
3,wagon r,2011,2.85,4.15,5200.0,Gasolina,Intermediária,Manual,0,4
4,swift,2014,4.60,6.87,42450.0,Diesel,Intermediária,Manual,0,5
...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988.0,Diesel,Intermediária,Manual,0,297
297,brio,2015,4.00,5.90,60000.0,Gasolina,Intermediária,Manual,0,298
298,city,2009,3.35,11.00,87934.0,Gasolina,Intermediária,Manual,0,299
299,city,2017,11.50,12.50,9000.0,Diesel,Intermediária,Manual,0,300
300,brio,2016,5.30,5.90,5464.0,Gasolina,Intermediária,Manual,0,301

In [46]:
#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome_Carro      301 non-null    object
 1   Ano_Fabricação  301 non-null    int64
 2   Preço_Venda     299 non-null    float64
 3   Preço_Atual     297 non-null    float64
 4   Km_Rodados      297 non-null    float64
 5   Tipo_Motor      300 non-null    object
 6   Tipo_Vendedor   301 non-null    object
 7   Transmissão     301 non-null    object
 8   Donos           301 non-null    int64
 9   indice          301 non-null    int64
dtypes: float64(3), int64(3), object(4)
memory usage: 23.6+ KB

In [56]:
#index
# print(df.index)
# print(list(df.index))

#set_index
# df.set_index('indice')
# df.set_index('indice', inplace=True)
# print((df.index))
# print(list(df.index))

#reset_index
df.reset_index()

,indice,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
0,1,ritz,2014,3.35,5.59,27000.0,Gasolina,Intermediária,Manual,0
1,2,sx4,2013,4.75,9.54,43000.0,Diesel,Intermediária,Manual,0
2,3,ciaz,2017,7.25,9.85,6900.0,Gasolina,Intermediária,Manual,0
3,4,wagon r,2011,2.85,4.15,5200.0,Gasolina,Intermediária,Manual,0
4,5,swift,2014,4.60,6.87,42450.0,Diesel,Intermediária,Manual,0
...,...,...,...,...,...,...,...,...,...,...
296,297,city,2016,9.50,11.60,33988.0,Diesel,Intermediária,Manual,0
297,298,brio,2015,4.00,5.90,60000.0,Gasolina,Intermediária,Manual,0
298,299,city,2009,3.35,11.00,87934.0,Gasolina,Intermediária,Manual,0
299,300,city,2017,11.50,12.50,9000.0,Diesel,Intermediária,Manual,0
300,301,brio,2016,5.30,5.90,5464.0,Gasolina,Intermediária,Manual,0

In [53]:
df

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
indice,,,,,,,,,
1,ritz,2014,3.35,5.59,27000.0,Gasolina,Intermediária,Manual,0
2,sx4,2013,4.75,9.54,43000.0,Diesel,Intermediária,Manual,0
3,ciaz,2017,7.25,9.85,6900.0,Gasolina,Intermediária,Manual,0
4,wagon r,2011,2.85,4.15,5200.0,Gasolina,Intermediária,Manual,0
5,swift,2014,4.60,6.87,42450.0,Diesel,Intermediária,Manual,0
...,...,...,...,...,...,...,...,...,...
297,city,2016,9.50,11.60,33988.0,Diesel,Intermediária,Manual,0
298,brio,2015,4.00,5.90,60000.0,Gasolina,Intermediária,Manual,0
299,city,2009,3.35,11.00,87934.0,Gasolina,Intermediária,Manual,0
300,city,2017,11.50,12.50,9000.0,Diesel,Intermediária,Manual,0
301,brio,2016,5.30,5.90,5464.0,Gasolina,Intermediária,Manual,0

In [57]:
#columns
df.columns

Index(['Nome_Carro', 'Ano_Fabricação', 'Preço_Venda', 'Preço_Atual',
       'Km_Rodados', 'Tipo_Motor', 'Tipo_Vendedor', 'Transmissão', 'Donos'],
      dtype='object')

In [64]:
#loc
# df.loc[:,['Nome_Carro','Ano_Fabricação','Km_Rodados']]
# df.loc[0,['Nome_Carro','Ano_Fabricação','Km_Rodados']]

#iloc
# df.iloc[:,[0,1,4]]
# df.iloc[0,[0,1,4]]

#filtros
# df[df.Nome_Carro == 'ritz']
# df[df['Ano_Fabricação'] > 2010]
df[(df['Preço_Venda'] > 5)&(df.Tipo_Motor == 'Gasolina')&(df.Donos.isin([1,2,3]))]

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
indice,,,,,,,,,
206,grand i10,2016,5.25,5.7,3493.0,Gasolina,Intermediária,Manual,1

In [65]:
#describe
df.describe()

       Ano_Fabricação  Preço_Venda  Preço_Atual     Km_Rodados       Donos
count      301.000000   299.000000   297.000000     297.000000  301.000000
mean      2013.574751     4.639298     7.653535   36997.000000    0.043189
std          2.975213     5.092537     8.676565   39124.919381    0.247915
min       2003.000000     0.100000     0.320000     500.000000    0.000000
25%       2012.000000     0.850000     1.260000   15000.000000    0.000000
50%       2014.000000     3.510000     6.400000   32000.000000    0.000000
75%       2016.000000     6.000000     9.900000   49000.000000    0.000000
max       2018.000000    35.000000    92.600000  500000.000000    3.000000

In [66]:
df.describe(include='all')

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
count,301,301.000000,299.000000,297.000000,297.000000,300,301,301,301.000000
unique,97,NaN,NaN,NaN,NaN,3,2,2,NaN
top,city,NaN,NaN,NaN,NaN,Gasolina,Intermediária,Manual,NaN
freq,26,NaN,NaN,NaN,NaN,238,195,261,NaN
mean,NaN,2013.574751,4.639298,7.653535,36997.000000,NaN,NaN,NaN,0.043189
std,NaN,2.975213,5.092537,8.676565,39124.919381,NaN,NaN,NaN,0.247915
min,NaN,2003.000000,0.100000,0.320000,500.000000,NaN,NaN,NaN,0.000000
25%,NaN,2012.000000,0.850000,1.260000,15000.000000,NaN,NaN,NaN,0.000000
50%,NaN,2014.000000,3.510000,6.400000,32000.000000,NaN,NaN,NaN,0.000000
75%,NaN,2016.000000,6.000000,9.900000,49000.000000,NaN,NaN,NaN,0.000000
max,NaN,2018.000000,35.000000,92.600000,500000.000000,NaN,NaN,NaN,3.000000

In [70]:
#isnull
df[df.Nome_Carro.isnull()]
# df[df.Km_Rodados.isnull()]
df[df.Preço_Venda.isnull()]
# df[df.Preço_Atual.isnull()]
df[(df['Preço_Venda'].isnull())&(df['Preço_Atual']).isnull()]

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
indice,,,,,,,,,
259,city,2015,NaN,NaN,25000.0,Gasolina,Intermediária,Manual,0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 301 entries, 1 to 301
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome_Carro      301 non-null    object
 1   Ano_Fabricação  301 non-null    int64
 2   Preço_Venda     299 non-null    float64
 3   Preço_Atual     297 non-null    float64
 4   Km_Rodados      297 non-null    float64
 5   Tipo_Motor      300 non-null    object
 6   Tipo_Vendedor   301 non-null    object
 7   Transmissão     301 non-null    object
 8   Donos           301 non-null    int64
dtypes: float64(3), int64(2), object(4)
memory usage: 31.6+ KB

In [9]:
# dropna
# df.dropna()
# df.dropna(axis='columns')
# df.dropna(how='all')
# df.dropna(subset=['Preço_Venda','Preço_Atual'])
df.dropna(subset=['Km_Rodados'])

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
0,ritz,2014,3.35,5.59,27000.0,Gasolina,Intermediária,Manual,0
1,sx4,2013,4.75,9.54,43000.0,Diesel,Intermediária,Manual,0
2,ciaz,2017,7.25,9.85,6900.0,Gasolina,Intermediária,Manual,0
3,wagon r,2011,2.85,4.15,5200.0,Gasolina,Intermediária,Manual,0
4,swift,2014,4.60,6.87,42450.0,Diesel,Intermediária,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988.0,Diesel,Intermediária,Manual,0
297,brio,2015,4.00,5.90,60000.0,Gasolina,Intermediária,Manual,0
298,city,2009,3.35,11.00,87934.0,Gasolina,Intermediária,Manual,0
299,city,2017,11.50,12.50,9000.0,Diesel,Intermediária,Manual,0
300,brio,2016,5.30,5.90,5464.0,Gasolina,Intermediária,Manual,0

In [5]:
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 291 entries, 0 to 300
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome_Carro      291 non-null    object
 1   Ano_Fabricação  291 non-null    int64
 2   Preço_Venda     291 non-null    float64
 3   Preço_Atual     291 non-null    float64
 4   Km_Rodados      291 non-null    float64
 5   Tipo_Motor      291 non-null    object
 6   Tipo_Vendedor   291 non-null    object
 7   Transmissão     291 non-null    object
 8   Donos           291 non-null    int64
dtypes: float64(3), int64(2), object(4)
memory usage: 22.7+ KB

In [23]:
#duplicados
#duplicated
df[df.duplicated()]
# df[df.Preço_Atual.duplicated()]
df[df.Preço_Atual.duplicated(keep='first')]
# df[df.Preço_Atual.duplicated('last')]
df[~df.Preço_Atual.duplicated(False)]

#drop_duplicates
# df.drop_duplicates(inplace=True)
# df.drop_duplicates(subset=['Ano_Fabricação'])
# df.drop_duplicates(['Preço_Venda'])

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
0,ritz,2014,3.35,5.59,27000.0,Gasolina,Intermediária,Manual,0
1,sx4,2013,4.75,9.54,43000.0,Diesel,Intermediária,Manual,0
2,ciaz,2017,7.25,9.85,6900.0,Gasolina,Intermediária,Manual,0
4,swift,2014,4.60,6.87,42450.0,Diesel,Intermediária,Manual,0
5,vitara brezza,2018,9.25,9.83,2071.0,Diesel,Intermediária,Manual,0
...,...,...,...,...,...,...,...,...,...
291,brio,2015,5.40,6.10,31427.0,Gasolina,Intermediária,Manual,0
295,city,2015,8.55,13.09,60076.0,Diesel,Intermediária,Manual,0
296,city,2016,9.50,11.60,33988.0,Diesel,Intermediária,Manual,0
298,city,2009,3.35,11.00,87934.0,Gasolina,Intermediária,Manual,0
299,city,2017,11.50,12.50,9000.0,Diesel,Intermediária,Manual,0

In [28]:
#operações
len(df.iloc[0,:])
df.Nome_Carro.str.len()

0      4
1      3
2      4
3      7
4      5
      ..
296    4
297    4
298    4
299    4
300    4
Name: Nome_Carro, Length: 301, dtype: int64

In [31]:
df.Nome_Carro.str.lower()
df.Nome_Carro.str.upper()
df.Nome_Carro.str.capitalize()

0         Ritz
1          Sx4
2         Ciaz
3      Wagon r
4        Swift
        ...
296       City
297       Brio
298       City
299       City
300       Brio
Name: Nome_Carro, Length: 301, dtype: object

In [33]:
df.Nome_Carro.str.replace('city','city n')

0         ritz
1          sx4
2         ciaz
3      wagon r
4        swift
        ...
296     city n
297       brio
298     city n
299     city n
300       brio
Name: Nome_Carro, Length: 301, dtype: object

In [34]:
df[df.Nome_Carro.str.contains('Honda')]

,Nome_Carro,Ano_Fabricação,Preço_Venda,Preço_Atual,Km_Rodados,Tipo_Motor,Tipo_Vendedor,Transmissão,Donos
128,Honda CB Hornet 160R,2017,0.80,0.870,3000.0,Gasolina,Direta,Manual,0
130,Honda CB Hornet 160R,2017,0.75,0.870,11000.0,Gasolina,Direta,Manual,0
136,Honda CBR 150,2014,0.65,1.200,23500.0,Gasolina,Direta,Manual,0
138,Honda CB Hornet 160R,2016,0.60,0.870,15000.0,Gasolina,Direta,Manual,0
140,Honda CBR 150,2013,0.60,1.200,32000.0,Gasolina,Direta,Manual,0
155,Honda Activa 4G,2017,0.48,0.510,4300.0,Gasolina,Direta,Automática,0
158,Honda Dream Yuga,2017,0.48,0.540,8600.0,Gasolina,Direta,Manual,0
159,Honda Activa 4G,2017,0.45,0.510,4000.0,Gasolina,Direta,Automática,0
168,Honda CB Trigger,2013,0.42,0.730,12000.0,Gasolina,Direta,Manual,0
174,Honda CB Unicorn,2015,0.38,0.720,38600.0,Gasolina,Direta,Manual,0
175,Hero Honda CBZ extreme,2011,0.38,0.787,75000.0,Gasolina,Direta,Manual,0
176,Honda Karizma,2011,0.35,1.050,30000.0,Gasolina,Direta,Manual,0
177,Honda Activa 125,2016,0.35,0.570,24000.0,Gasolina,Direta,Automática,0
179,Honda Karizma,2010,0.31,1.050,213000.0,Gasolina,Direta,Manual,0
180,Hero Honda Passion Pro,2012,0.30,0.510,60000.0,Gasolina,Direta,Manual,0
182,Honda CB Shine,2013,0.30,0.580,30000.0,Gasolina,Direta,Manual,0
187,Honda CB twister,2013,0.25,0.510,32000.0,Gasolina,Direta,Manual,0
197,Honda CB twister,2010,0.16,0.510,33000.0,Gasolina,Direta,Manual,0
199,Honda CB Shine,2007,0.12,0.580,53000.0,Gasolina,Direta,Manual,0

In [46]:
# df.Ano_Fabricação.str.split('.')
df.Km_Rodados.astype(str).str.split('.')
df.Km_Rodados.astype(str).str.split('.').str[0]
# df.Km_Rodados.astype(str).str.split('.').str[0].astype(float)

0      27000
1      43000
2       6900
3       5200
4      42450
       ...
296    33988
297    60000
298    87934
299     9000
300     5464
Name: Km_Rodados, Length: 301, dtype: object